// text
$roboto: Roboto, Helvetica, sans-serif;
$font-normal: 16px;
$font-medium: 50px;
$font-especial:"Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
$spacing: .75px;
$weight-special: 700;
$weight-normal: 500;
$weight-mega: 900;

// color

$apptheme: rgb(89, 211, 89);
$light-gray: rgb(199, 196, 196);
$shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
$shadow-hover: 0 8px 16px 0 rgba(0,0,0,0.2);
$text-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
// spacing
$s-size: 0.5rem;
$sl-size: 1.2rem;
$m-size: 3rem;
$ml-size: 4.2rem;
$l-size: 7rem;
$ll-size: 9.2rem;
$xl-size: 12rem;
$desktop-breakpoint: 45rem