.dashboard__top-box {
      position: relative;
     padding: 0;
     margin: 0;
     height: 100vh;
     width: 100vw;
     z-index: -99;
 
    
    
}

.dashboard__top-box img {
    position: absolute;
   
    filter: brightness(50%);
  
    z-index: -11;
    
}

.dashboard__top-box-phrase__text {

    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 4rem;
    margin-right: $m-size;

    padding: 0;
    margin: 0;
    text-shadow: $text-shadow;
    @media (min-width: $desktop-breakpoint) {
        font-size: 3.2rem;
        margin: 0 $ml-size;
    }
    
}

.dashboard__top-box-phrase__text span {
    border-bottom: 5px solid #009688;
}

.dashboard__top-box-phrase__text--sub span {
    background-color: #008073 !important;
    border: none;
}


.dashboard__top-box-phrase {
    white-space: nowrap;
    margin: 0 $s-size;
   
    
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 5px;

    @media (min-width: $desktop-breakpoint) {
        padding-top: 450px;
        margin: 0 $ml-size;
        
    }
}