.sidebar {
    background: #FFF;
    
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    width: 170px;
    will-change: left;
    z-index: 999;
    box-shadow: $shadow;
    @media (min-width: $desktop-breakpoint) {
        width: 200px;
    }
  

}

.sidebar__top {
    text-align: center;
    padding: 1.1rem $sl-size;
    background-color: #fafafa;
    @media (min-width: $desktop-breakpoint) {
        padding: 1.8rem $sl-size;
    }

 
    
}

.sidebar__top-title {
    color: $apptheme;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    @media (min-width: $desktop-breakpoint) {
        font-size: 1.5rem;
    }
  
   
}

.sidebar__list-parent {
   
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
}

.sidebar__list-parent li {
   
   
    padding: 5px 12px;
    @media (min-width: $desktop-breakpoint) {
        padding: 7px 15px;
    }
 
}

.icon-list {
    font-size: 1.3rem;
    @media (min-width: $desktop-breakpoint) {
        font-size: 2.1rem;
    }
}

.sidebar__list-parent-item {
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    margin: 0 0.3rem;
    vertical-align: middle;
    transition: background 0.3s;
    height: 34px;
    @media (min-width: $desktop-breakpoint) {
        font-size: 1.2rem;
        height: 40px;
    }
    
   

}


.sidebar__list-parent-item * {
    margin: 0 0.5rem;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 0.8rem;
    }
    
}

.sidebar__list-parent-item h5 {
    color: #333;
}

.sidebar__list-parent-item--1 {
    margin-bottom: 15px
}



.sidebar__list-parent-item:hover {
    background: rgb(185, 185, 185);
}

.sidebar__list-parent-item--1:hover {
    border-left: 2px solid green;
    
    
}

.sidebar__list-parent-item--2:hover {
    border-left: 2px solid purple;
}

.sidebar__list-parent-item--3:hover {
    border-left: 2px solid yellow;
}

.sidebar__list-parent-item--4:hover {
    border-left: 2px solid blue;
}
.sidebar__list-parent-item--5:hover {
    border-left: 2px solid brown;
}

.sidebar__list-parent-item--6:hover {
    border-left: 2px solid black;
}

.sidebar__list-parent-select {
    margin-top: auto;
}