  
.show-for-mobile {
    position: fixed;
    z-index: 100;
    @media (min-width: $desktop-breakpoint) {
      display: none;
    }
  }
  
  .show-for-desktop {
    @media (max-width: $desktop-breakpoint - .01rem) {
      display: none;
    }
  }

.invisible {
  display: none;
}